[Desktop Entry]
Encoding=UTF-8
Name=zXflea
Comment=zXflea P2P Cryptocurrency
Comment[fr]=zXflea, monnaie virtuelle cryptographique pair à pair
Comment[tr]=zXflea, eşten eşe kriptografik sanal para birimi
Exec=zxflea-qt %u
Terminal=false
Type=Application
Icon=zxflea128
MimeType=x-scheme-handler/zxflea;
Categories=Office;Finance;
